ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding:10px;
    background: grey;
    font-size:1.5rem;

}
.active-link{
    border:2px solid red;
    text-decoration: underline;
}