*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}